.input-default{
    padding: 10px;
    border-width: 0px;
    display: inline-block; 
    height:40px;
    width:40px; 
}

#gameGrid td input:hover{
    background-color: blanchedalmond;
}

.border-right-input{
    border-right: 1px black groove;
}

.border-bottom-input{
    border-bottom: 1px black groove;
}

.centerBlock{
    float: none;
    margin: 0 auto;
}   